@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-neutral-100: hsl(0, 0%, 98%);
  --clr-neutral-400: hsl(0, 0%, 41%);
  --clr-neutral-400-25: hsla(0, 0%, 41%, 0.25);
  --clr-neutral-700: hsl(0, 0%, 8%);
  --fs-400: 1rem;
  --fw-medium: 500;
  --fw-large: 700;
  --ff-sans: "Epilogue", sans-serif;
}
@media screen and (min-width: 36rem) {
  :root {
    --fs-400: 1.125rem;
  }
}

body {
  font-family: var(--ff-sans);
  font-weight: var(--fw-medium);
  font-size: var(--fs-400);
  background-color: var(--clr-neutral-100);
}

ul,
li {
  margin: 0;
  padding: 0;
}

.header {
  padding: 1.25em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.hero__img--desktop {
  display: none;
}
.hero__copy {
  padding: 3em 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__heading {
  margin-bottom: 0.5em;
  color: var(--clr-neutral-700);
  font-weight: var(--fw-large);
  font-size: 2.2em;
  line-height: 1;
}
.hero__body {
  margin-bottom: 1.5em;
  color: var(--clr-neutral-400);
  line-height: 1.6;
}
.hero__btn {
  margin-bottom: 3em;
  padding: 1.125em 1.625em;
}
.hero__client {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  align-items: center;
}

.btn {
  text-decoration: none;
  line-height: 1;
  border-radius: 14px;
  box-shadow: 0px 0px 0px 1px var(--clr-neutral-700) inset;
}
.btn--fill {
  font-weight: var(--fw-large);
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
}
.btn--outline {
  font-weight: var(--fw-medium);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-400);
}
.btn:hover {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-700);
}

.side-navbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.25em 1em;
  background-color: var(--clr-neutral-100);
  height: 100vh;
  width: 65%;
  transform: none;
  transition: transform 300ms ease-in-out;
  z-index: 2;
}
.side-navbar[data-state=close] {
  transform: translateX(100%);
}
.side-navbar__list {
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  gap: 1em;
}
.side-navbar__list--dropdown {
  margin-bottom: 0;
}
.side-navbar__item {
  text-decoration: none;
  color: var(--clr-neutral-400);
}
.side-navbar__item:hover {
  color: var(--clr-neutral-700);
}
.side-navbar__item > svg {
  margin-left: 1em;
}
.side-navbar__item--dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.side-navbar__item--dropdown > img {
  margin-right: 1em;
  width: 12.5%;
  height: auto;
}
.side-navbar__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-navbar__login {
  margin-bottom: 1em;
  text-decoration: none;
  align-self: center;
  color: var(--clr-neutral-400);
}
.side-navbar__login:hover {
  color: var(--clr-neutral-700);
}
.side-navbar__btn {
  padding: 1em 0;
  text-align: center;
}

.close-menu {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-neutral-700);
  opacity: 0.5;
  transform: none;
  z-index: 1;
  transition: opacity 350ms ease-in-out;
}
.overlay[data-state=close] {
  opacity: 0;
  transform: translateX(120%);
  transition: transform 10ms 350ms ease-in-out, opacity 350ms ease-in-out;
}

.dropdown__menu {
  padding: 1.5em 0 0.5em 0;
  display: none;
}
.dropdown__btn > svg {
  transition: transform 200ms ease-in-out;
}

.dropdown[data-state=expanded] .dropdown__btn svg {
  transform: rotate(-180deg);
}
.dropdown[data-state=expanded] .dropdown__menu {
  display: block;
  -webkit-animation: slide-down 300ms ease-in-out both;
          animation: slide-down 300ms ease-in-out both;
}

@-webkit-keyframes slide-down {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  to {
    transform: none;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  to {
    transform: none;
  }
}
.main-navbar {
  display: none;
}

@media screen and (min-width: 36rem) {
  .header {
    max-width: 90rem;
    margin-inline: auto;
    padding: 2em 2.5em;
    justify-content: stretch;
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    align-items: center;
    max-width: 74rem;
    margin-inline: auto;
  }
  .hero__copy {
    grid-column: 1;
    grid-row: 1;
    text-align: start;
    align-items: flex-start;
    padding-left: 2em;
    padding-bottom: 0;
    padding-top: 6em;
    align-self: stretch;
  }
  .hero__heading {
    font-size: 4.35em;
    margin-bottom: 0.6em;
  }
  .hero__body {
    max-width: 40ch;
    margin-bottom: 3em;
  }
  .hero__client {
    margin-top: auto;
  }
  .hero__img {
    grid-column: 2;
    padding-left: 5em;
  }
  .hero__img--mobile {
    display: none;
  }
  .hero__img--desktop {
    display: block;
  }
  .open-menu,
.side-navbar,
.overlay {
    display: none;
  }
  .main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    flex: 1;
    font-size: 0.9em;
  }
  .main-navbar__list {
    display: flex;
    flex-direction: row;
    padding-left: 4em;
    gap: 2.5em;
  }
  .main-navbar__list--dropdown {
    margin-bottom: 0;
    flex-direction: column;
    padding: 1.5em;
    gap: 0.75em;
    background-color: var(--clr-neutral-100);
    border-radius: 14px;
    box-shadow: 0 4px 24px var(--clr-neutral-400-25);
    align-items: stretch;
    justify-content: space-between;
    width: 125%;
  }
  .main-navbar__item {
    text-decoration: none;
    color: var(--clr-neutral-400);
  }
  .main-navbar__item:hover {
    color: var(--clr-neutral-700);
  }
  .main-navbar__item > svg {
    margin-left: 0.5em;
  }
  .main-navbar__item--dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  .main-navbar__item--dropdown > img {
    margin-right: 1em;
    width: 1em;
    height: auto;
  }
  .main-navbar__cta {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
  }
  .main-navbar__login {
    margin-right: 2.5em;
    text-decoration: none;
    color: var(--clr-neutral-400);
  }
  .main-navbar__login:hover {
    color: var(--clr-neutral-700);
  }
  .main-navbar__btn {
    padding: 1em 1.5em;
    text-align: center;
  }
  .dropdown {
    position: relative;
  }
  .dropdown__menu {
    position: absolute;
    left: 0;
    top: 2em;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */