@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@import './base';

// CSS Custom Properties
:root {
  --clr-neutral-100: hsl(0, 0%, 98%);
  --clr-neutral-400: hsl(0, 0%, 41%);
  --clr-neutral-700: hsl(0, 0%, 8%);
  --fs-400: 1.125rem;
  --fw-medium: 500;
  --fw-large: 700;
  --ff-sans: font-family: 'Epilogue', sans-serif;
}
